html {
    height: 100%;background: url(../new_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    height: 100%;
    font-family: 'Permanent Marker', cursive;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.social {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: black solid;
    height: 30px;
    font-size: 20px;
    margin: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 200px;
}

#photoContainer {
    height: 60%;
    width: 98%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
}

.thumbnail-image {
    display: flex;
}


#albumRow1, #albumRow2 {
    display: flex;
    justify-content: space-around;
    margin: 10%;
}

#homeGif {
    width: 500px;
    height: 370px;
}

#homeMain {
    margin: 10px;
    display: flex;
    Justify-content: center;
}

#homeName {
    font-size: 500%;
}

.historyPhotos {
    width: 450px;
    margin: 10px;
    margin-top: 35px;
}

.historyMiniDiv {
    display: flex;
    width: 100%;
}

#history {
    font-size: 24px;
}

#peteP {
    margin-top: 111px;
}

#drama {
    margin-top: 65px;
}

#flowers {
    margin-top: 42px;
}

#alone {
    margin-top: 84px;
}

a {
    color: black;
}

.galButton {
    position: relative;
    height: 15%;
    width: 10%;
    background-color: #FF00;
    color: black;
    border: dotted 3px black;
    border-radius: 50%;
    font-size: 100%;
    align-items: center;
    vertical-align: middle;
    padding: -10px;
    text-decoration: none;
}

.thumbnail {
    justify-content: center;
}

#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8, #photo9, #photo10, #photo1 {
    width: 500px;
}

.fever, .odd, .vices, .weird, .bachelor, .pray {
    width: 100%;
    text-align: center;
}

li, ol, #back1 {
    
}