html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Permanent Marker', cursive;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.social {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: black solid;
    height: 30px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 200px;
}
