html {
    height: 100%;background: url(../fanpage-photos/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    height: 100%;
    font-family: 'Permanent Marker', cursive;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.social {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: black solid;
    height: 30px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 200px;
}

#photoContainer {
    height: 60%;
    width: 98%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
}

.thumbnail-image {
    display: flex;
    justify-content: center;
}

.thumbnail-image {
    width: 70%;
    height: 90%;
}

#albumRow1, #albumRow2 {
    display: flex;
    justify-content: space-around;
    margin: 10%;
}
